html,
body,
.section {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mobile-menu {
  display: none;
  float: right;
  padding: 26px 15px 0;
  width: 30px;
  height: 54px;
  box-sizing: content-box;
  transition: .3s linear;
}
.mobile-menu span {
  display: block;
  margin: 5px 0;
  height: 2px;
  background: #fff;
  border-radius: 2px;
}
.mm-rotate {
  transform: rotate(-90deg);
}
@keyframes slide {
  0% {
    transform: scale(0);
  }
}
@media (max-width: 1400px) {
  .navbar-nav > li > a {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1275px) {
  .nav-wrap {
    width: auto;
  }
  #home > nav .menu-socials {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .nav-wrap {
    width: 100%;
  }
  .mobile-menu {
    display: block;
  }
  .block.navbar-collapse.collapse {
    display: block !important;
    animation: slide .3s linear;
  }
  .sticky .nav_text {
    margin-bottom: 0;
  }
}
@media (max-width: 414px) {
  .logo-wrap.shrink > a {
    height: 40px;
  }
  .mobile-menu {
    padding: 7px 15px 0;
    width: 30px;
    height: 33px;
    box-sizing: content-box;
    transition: .3s linear;
  }
  .mobile-menu span {
    display: block;
    margin: 5px 0;
    height: 2px;
    background: #fff;
    border-radius: 2px;
  }
  .top-margin {
    margin-top: 40px;
  }
}
#video {
  width: 100%;
  min-height: 100%;
  background: #000;
}
#mobile-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
  z-index: 999;
}
#mobile-btn .btn.btn-transparent {
  margin: 0;
  padding: 5px 0;
  width: 15%;
  min-width: 90px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  text-align: center;
}
.gmu-text {
  font-size: 64px;
}
@media (max-width: 1024px) {
  .gmu-text {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  .gmu-text {
    font-size: 50px;
  }
}
@media (max-width: 414px) {
  .gmu-text {
    font-size: 23px;
  }
}
@media (max-width: 375px) {
  .gmu-text {
    font-size: 22px;
  }
}
@media (max-width: 320px) {
  .gmu-text {
    font-size: 20px;
  }
}
.hero-subtitle {
  padding: 0 2%;
}
@media (max-width: 768px) {
  .hero-subtitle {
    font-size: 14px;
  }
}
@media (max-width: 414px) {
  .hero-subtitle {
    width: 80%;
  }
}
@media (max-width: 375px) {
  .hero-subtitle {
    width: 85%;
  }
}
@media (max-width: 320px) {
  .hero-subtitle {
    width: 100%;
  }
}
@media screen and (max-width: 1400px) {
  .gmu-title {
    color: #fff;
    font-size: 6.2rem;
    letter-spacing: 8px;
    margin-top: 5rem;
    margin-bottom: -2.9rem;
  }
}
@media (max-width: 414px) {
  .gmu-title {
    margin-top: 0;
  }
}
.slideOne_width {
  padding-top: 80px;
  width: 70% !important;
}
.slideOne_width_left {
  padding-top: 45px;
  position: static;
  width: 50%;
}
.slideOne_width_left > div .pf-md-h {
  font-size: 40px;
}
.slideOne_width_left > div .pf-md-h .pf-md {
  font-size: 41px;
}
.slideOne_width_left .title-instructor {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 25px;
  font-size: 14px;
  letter-spacing: 0;
}
.slideOne_width_right {
  width: 40%;
  text-align: center;
}
.slideOne_width_right > div,
.slideOne_width_right .title-instructor {
  display: none;
}
.pf-md {
  margin-left: 0;
}
.slideOne_width_right img {
  top: 0 !important;
}
@media (max-width: 768px) {
  .slideOne_width_left .title-instructor {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 23px;
    font-size: 14px;
  }
  .slideOne_width_left > div .pf-md-h {
    font-size: 30px;
  }
  .slideOne_width_left > div .pf-md-h .pf-md {
    font-size: 30.5px;
  }
  .slideOne_width_left .slideOne_left_line {
    display: none;
    min-height: 3rem;
  }
  .slideOne_width_right img {
    width: 14.7rem;
  }
  .fp-controlArrow.fp-next {
    right: 2rem;
  }
  .fp-controlArrow.fp-prev {
    left: 2rem;
  }
}
@media (max-width: 767px) {
  .slideOne_width_left {
    display: none;
  }
  .slideOne_width_right {
    min-width: 100%;
    text-align: center;
  }
  .slideOne_width_right > div,
  .slideOne_width_right .title-instructor {
    display: block;
  }
  .slideOne_width_right .title-instructor {
    text-align: left;
  }
}
@media (max-width: 414px) {
  .slideOne_width {
    width: 90%;
  }
  .slideOne_width_right img {
    width: 15rem;
  }
  .slideOne_width_right > div .pf-md-h {
    font-size: 30px;
  }
  .slideOne_width_right > div .pf-md-h .pf-md {
    font-size: 31px;
  }
  .slideOne_width_right .title-instructor {
    margin-top: 30px;
    margin-bottom: -45px;
    height: 144px;
    text-align: left;
    font-family: 'pfMd';
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 16px;
  }
  .fp-controlArrow.fp-next {
    right: 1rem;
    width: 4rem;
    height: 6.5rem;
  }
  .fp-controlArrow.fp-prev {
    left: 1rem;
    width: 4rem;
    height: 6.5rem;
  }
}
@media (max-width: 375px) {
  .slideOne_width_right img {
    width: 13rem;
  }
  .slideOne_width_right .title-instructor {
    height: 144px;
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  .slideOne_width_right img {
    width: 8rem;
  }
}
/****/
@media (max-width: 414px) {
  #mdtb {
    position: relative;
  }
  #mdtb .mobile-mdtb {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
  #mdtb .mobile-mdtb .item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
  }
  #mdtb .mobile-mdtb .item:not(:first-child) {
    opacity: 0;
  }
  #mdtb .mobile-mdtb .item:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
  }
  #mdtb .mobile-mdtb .item > div {
    display: inline-block;
    vertical-align: middle;
  }
  #mdtb .mobile-mdtb .item > div .tit {
    margin-bottom: 25px;
    text-align: center;
    font-size: 25px;
  }
  #mdtb .mobile-mdtb .item > div .phong-pic {
    text-align: center;
  }
  #mdtb .mobile-mdtb .item > div .phong-pic img {
    width: 55%;
  }
  #mdtb .mdtb-slide {
    position: relative;
    top: 0;
    z-index: 99;
    display: block;
    height: 300%;
  }
  #mdtb .mdtb-slide .item {
    height: 33.33333333%;
  }
  #mdtb .mdtb-slide .arti {
    margin: 0 auto;
    width: 90%;
    height: 300px;
    background: #fff;
    line-height: 300px;
    box-shadow: 0 0 15px #ccc;
  }
  #mdtb .mdtb-slide .arti p {
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
  }
}
.headTop-girl {
  margin-bottom: 2.5rem !important;
}
@media (min-width: 1366px) {
  #about-us .team-row {
    padding: 0 5%;
    text-align: center;
  }
  #about-us .team-wrap {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }
  #about-us .team-wrap:first-child {
    width: 25%;
  }
  #about-us .team-wrap:nth-child(2) {
    width: 65%;
  }
}
@media (max-width: 1366px) {
  #about-us .container {
    width: auto;
  }
  #about-us .header,
  #about-us .header-pic {
    height: 240px;
  }
  #about-us .team-row {
    padding: 0 5%;
    text-align: center;
  }
  #about-us .team-wrap {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }
  #about-us .team-wrap:first-child {
    width: 25%;
  }
  #about-us .team-wrap:nth-child(2) {
    width: 65%;
  }
  #about-us .img-text-model {
    margin: 10px auto 0;
  }
  #about-us .title-name {
    font-size: 25px;
    margin: 0;
  }
  #about-us .title-gender {
    font-size: 20px;
    margin: 0;
  }
  #about-us .title-age {
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
  }
}
@media (max-width: 1024px) {
  #about-us .header,
  #about-us .header-pic {
    height: 240px;
  }
  #about-us .team-wrap:first-child {
    width: 30%;
  }
  #about-us .team-wrap:nth-child(2) {
    width: 65%;
  }
}
@media (max-width: 768px) {
  #about-us .header,
  #about-us .header-pic {
    height: 215px;
  }
}
@media (max-width: 414px) {
  #touch-change .team-member {
    z-index: 999;
  }
  #thinkWord {
    margin-bottom: 10px;
  }
  #about-us .header,
  #about-us .header-pic {
    height: 240px;
  }
  #about-us .team-wrap {
    margin: 0 auto;
  }
  #about-us .team-wrap .team-title {
    margin-top: 20px;
    margin-bottom: -5px;
  }
  #about-us .team-wrap .team-member.mobilenone {
    display: none;
  }
  #about-us .team-wrap .topUser-slide {
    margin-left: 0;
  }
  #about-us .team-wrap .topUser-title {
    margin-top: 0;
  }
  #about-us .team-wrap .topUser-title li strong,
  #about-us .team-wrap .topUser-title li span {
    font-size: 25px;
  }
  #about-us .team-wrap .subheading {
    margin-top: 1em;
    font-size: 14px;
    line-height: 1.5em;
  }
  #about-us .team-wrap:first-child {
    width: 65%;
  }
  #about-us .team-wrap:nth-child(2) {
    width: 90% !important;
  }
}
@media (max-width: 375px) {
  #about-us .header,
  #about-us .header-pic {
    height: 220px;
  }
  #about-us .team-wrap:first-child {
    width: 60%;
  }
}
@media (max-width: 320px) {
  #about-us .header,
  #about-us .header-pic {
    height: 180px;
  }
  #about-us .team-wrap .team-title {
    margin-top: 10px;
  }
  #about-us .team-wrap .topUser-title li strong,
  #about-us .team-wrap .topUser-title li span {
    font-size: 16px;
  }
  #about-us .team-wrap .topUser-title h2 {
    margin: 0 0 5px;
  }
  #about-us .team-wrap .subheading {
    margin-top: 0;
    font-size: 13px;
    line-height: 1.5em;
  }
  #about-us .title-name {
    font-size: 20px;
    margin: 0;
  }
  #about-us .title-gender {
    font-size: 14px;
    margin: 0;
  }
  #about-us .title-age {
    font-size: 12px;
    margin: 0;
    margin-bottom: 6px;
  }
}
.htmleaf-header {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.prev-button,
.next-button {
  z-index: 9999;
  top: 50% !important;
}
@media (max-width: 414px) {
  .prev-button,
  .next-button {
    display: none;
  }
}
#swiper-stars {
  margin: 0 auto;
  padding: 40px 0;
  width: 60%;
}
#hzqy-pc {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  user-select: none;
}
#hzqy-pc img {
  width: 10%;
  object-fit: cover;
  border-radius: 50%;
  transform: scale(0.7);
  border: 1px solid #999;
}
#hzqy {
  display: none;
}
.partnes-pic {
  margin: 0 auto !important;
}
@media (max-width: 1270px) {
  #hzqylogo {
    width: auto;
  }
}
@media (max-width: 414px) {
  #swiper-stars {
    width: 90%;
  }
  .htmleaf-header {
    margin-top: 0;
  }
  .imageflow {
    top: 0;
  }
  .prev-button {
    left: 1em;
  }
  .next-button {
    right: 1em;
  }
  #hzqy-pc {
    display: none;
  }
  #hzqylogo {
    margin-top: 40px;
  }
  #hzqy {
    display: block;
  }
  #hzqy .swiper-slide > div img {
    width: 41%;
    margin-bottom: 10px;
  }
}
@media (max-width: 320px) {
  #hzqy .swiper-slide > div img {
    margin-bottom: 0;
  }
}
.heading .lx-wrap {
  margin: 0 auto;
  width: 50%;
}
#lxwm {
  margin: 0 auto;
  width: 90%;
}
.lxwm-row {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.lxwm-left {
  width: 35%;
}
.lxwm-right {
  width: 62%;
}
@media (max-width: 768px) {
  .subheading {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
  #lxwm input {
    margin-bottom: 10px;
  }
  textarea#comment {
    margin-bottom: 15px;
    height: 120px;
  }
  .contact-item:first-of-type {
    margin-top: 15px;
  }
  .contact-item {
    margin-top: 12px;
  }
}
@media (max-width: 414px) {
  .heading {
    margin-top: 0;
  }
  .heading h2 {
    font-size: 20px;
  }
  .heading p {
    margin-bottom: 1rem;
    font-size: 14px;
  }
  .heading .lx-wrap {
    width: 100%;
  }
  .lxwm-row {
    flex-wrap: wrap-reverse;
  }
  .lxwm-left {
    width: 100%;
  }
  .lxwm-right {
    width: 100%;
  }
  #lxwm input {
    height: 40px;
    margin-bottom: 5px;
  }
  textarea#comment {
    margin-bottom: 15px;
    height: 90px;
  }
  .contact-item:first-of-type {
    margin-top: 0;
  }
  .contact-item {
    margin-top: 3px;
    padding-left: 40px;
  }
  .contact-icon {
    width: 30px;
    height: 30px;
  }
  .contact-icon i {
    line-height: 30px;
    font-size: 1.5rem;
  }
  .mobilebr {
    display: none;
  }
}
@media (max-width: 375px) {
  .contact-item:first-of-type {
    margin-top: 0;
  }
  .contact-item {
    margin-top: 0;
    padding-left: 0;
  }
  .contact-icon {
    display: none;
  }
  .contact-item p {
    margin-bottom: 0;
    line-height: 20px;
  }
  .contact-item p,
  .contact-item span,
  .contact-item a {
    font-size: 14px;
  }
  .contact-item h6 {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 2px;
  }
  .lxwm-left > h5 {
    margin: 10px 0 0;
  }
  .lxwm-left > p {
    margin-bottom: 0;
  }
}
@media (max-width: 320px) {
  .heading .subheading {
    display: none;
  }
}
#new-section .swiper-pagination {
  display: none;
  width: 100%;
}
#new-section .swiper-pagination .swiper-pagination-bullet {
  margin: 0 5px;
  border-radius: 8px;
  transition: .5s linear;
  opacity: .4;
  background-clip: content-box;
  border: 1px solid transparent;
}
#new-section .swiper-pagination .swiper-pagination-bullet-active {
  opacity: .4;
  border-color: #000;
  background: transparent;
}
@media (max-width: 414px) {
  #new-section .swiper-pagination {
    display: block;
  }
}
.new-wrap {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 414px) {
  .new-wrap {
    margin-top: 40px;
    width: 90%;
  }
}
.new-wrap .swiper-wrapper ul {
  font-size: 0;
}
.new-wrap .swiper-wrapper ul li {
  display: inline-block;
  margin: 3%;
  width: 44%;
  background: #fff;
  box-shadow: 0 0 15px #ccc;
}
.new-wrap .swiper-wrapper ul li .pic-box img {
  width: 100%;
  cursor: pointer;
  vertical-align: bottom;
}
.new-wrap .swiper-wrapper ul li .text-box {
  padding: 0 2PX 5px;
  text-align: left;
  line-height: normal;
}
.new-wrap .swiper-wrapper ul li .text-box .new-name {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 900;
  color: #000;
}
.new-wrap .swiper-wrapper ul li .text-box .new-line {
  height: 0;
  width: 40px;
  border-bottom: 2px solid #000;
}
.new-wrap .swiper-wrapper ul li .text-box .new-intr {
  margin-top: 5px;
  font-size: 12px;
}
/**/
.new-section-big-img {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 0;
}
.new-section-big-img:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.new-section-big-img img {
  max-width: 90%;
  max-height: 90%;
  vertical-align: middle;
}
.module-tit {
  padding-top: 80px;
  padding-bottom: 20px;
  text-align: center;
}
@media (max-width: 414px) {
  .module-tit {
    padding-top: 40px;
  }
}
.module-tit .module-inner-tit {
  font-size: 25px;
  font-weight: bolder;
  color: #000;
}
.module-tit .module-inner-small-tit {
  font-size: 16px;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
#music.playing .music-wrap .cd-wrap .img-box .cd-play {
  animation-play-state: running;
}
#music.playing .music-wrap .cd-wrap .img-box .zhen {
  transform: rotate(0);
}
#music .music-wrap {
  margin: 0 auto;
  width: 70%;
}
@media (max-width: 414px) {
  #music .music-wrap {
    width: 90%;
  }
}
#music .music-wrap .cd-wrap {
  float: left;
  width: 50%;
}
@media (max-width: 414px) {
  #music .music-wrap .cd-wrap {
    width: 100%;
  }
}
#music .music-wrap .cd-wrap .img-box {
  position: relative;
  margin: 0 auto;
  width: 60%;
}
@media (max-width: 414px) {
  #music .music-wrap .cd-wrap .img-box {
    width: 60%;
  }
}
#music .music-wrap .cd-wrap .img-box img {
  width: 100%;
}
#music .music-wrap .cd-wrap .img-box .cd-play {
  animation: rotate 5s linear infinite;
  animation-play-state: paused;
}
#music .music-wrap .cd-wrap .img-box .zhen {
  width: 20%;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform .3s;
  transform: rotate(-20deg);
  transform-origin: 71.428% 10.471%;
}
#music .music-wrap .cd-wrap .img-box .cd-img {
  position: absolute;
  margin: auto;
  width: 60%;
}
#music .music-wrap .controls-wrap {
  float: right;
  width: 50%;
}
@media (max-width: 414px) {
  #music .music-wrap .controls-wrap {
    width: 100%;
  }
}
#music .music-wrap .controls-wrap .lrc-cont {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
}
@media (max-width: 1024px) {
  #music .music-wrap .controls-wrap .lrc-cont {
    height: 170px;
  }
}
@media (max-width: 768px) {
  #music .music-wrap .controls-wrap .lrc-cont {
    height: 150px;
  }
}
@media (max-width: 414px) {
  #music .music-wrap .controls-wrap .lrc-cont {
    display: none;
  }
}
#music .music-wrap .controls-wrap .lrc-cont:before,
#music .music-wrap .controls-wrap .lrc-cont:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 30%;
}
#music .music-wrap .controls-wrap .lrc-cont:before {
  top: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), #fff);
}
#music .music-wrap .controls-wrap .lrc-cont:after {
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fff);
}
#music .music-wrap .controls-wrap .lrc-cont .hover {
  color: #000;
}
#music .music-wrap .controls-wrap .cd-controls .timeline-box {
  position: relative;
  margin: 0 auto;
  padding: 30px 0;
  width: 80%;
  display: flex;
  justify-content: center;
}
@media (max-width: 1024px) {
  #music .music-wrap .controls-wrap .cd-controls .timeline-box {
    padding: 25px 0;
  }
}
@media (max-width: 1024px) {
  #music .music-wrap .controls-wrap .cd-controls .timeline-box {
    padding: 20px 0;
  }
}
@media (max-width: 414px) {
  #music .music-wrap .controls-wrap .cd-controls .timeline-box {
    padding: 30px 0;
    width: 70%;
  }
}
#music .music-wrap .controls-wrap .cd-controls .timeline-box > div {
  flex-grow: 1;
}
#music .music-wrap .controls-wrap .cd-controls .timeline-box .timeline {
  position: relative;
}
#music .music-wrap .controls-wrap .cd-controls .timeline-box .timeline .line {
  height: 2px;
  background: rgba(0, 0, 0, 0.4);
}
#music .music-wrap .controls-wrap .cd-controls .timeline-box .timeline .played {
  position: absolute;
  left: 0;
  top: 0px;
  width: 0;
  height: 2px;
  background: rgba(0, 0, 0, 0.6);
}
#music .music-wrap .controls-wrap .cd-controls .timeline-box .timeline .timedot {
  position: absolute;
  left: 0;
  top: -2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.8);
}
#music .music-wrap .controls-wrap .cd-controls .timeline-box .time {
  padding: 0 10px;
  flex-grow: 0;
  transform: translate(0, -50%);
}
@media (max-width: 414px) {
  #music .music-wrap .controls-wrap .cd-controls .timeline-box .time {
    display: none;
  }
}
#music .music-wrap .controls-wrap .cd-controls .controls-btn {
  display: flex;
  justify-content: center;
  height: 50px;
}
@media (max-width: 1024px) {
  #music .music-wrap .controls-wrap .cd-controls .controls-btn {
    height: 45px;
  }
}
@media (max-width: 768px) {
  #music .music-wrap .controls-wrap .cd-controls .controls-btn {
    height: 40px;
  }
}
@media (max-width: 414px) {
  #music .music-wrap .controls-wrap .cd-controls .controls-btn {
    height: 50px;
  }
}
#music .music-wrap .controls-wrap .cd-controls .controls-btn .pre,
#music .music-wrap .controls-wrap .cd-controls .controls-btn .pause,
#music .music-wrap .controls-wrap .cd-controls .controls-btn .nex {
  margin: 0 15px;
  height: 100%;
  cursor: pointer;
}
#music .music-wrap .controls-wrap .cd-controls .controls-btn .pre img,
#music .music-wrap .controls-wrap .cd-controls .controls-btn .pause img,
#music .music-wrap .controls-wrap .cd-controls .controls-btn .nex img {
  height: 100%;
}
