
html,body,.section{
  width: 100%;
  height: 100%;
  overflow: hidden;
}


//导航
.mobile-menu{
  display: none;
  float: right;
  padding: 26px 15px 0;
  width: 30px;
  height: 80-26px;
  box-sizing: content-box;
  transition: .3s linear;
  span{
    display: block;
    margin: 5px 0;
    height: 2px;
    background: #fff;
    border-radius: 2px;
  }
}
.mm-rotate{
  transform: rotate(-90deg);
}
@keyframes slide {
  0%{
    transform: scale(0);
  }
}

@media screen and (max-width:1275px){
  .nav-wrap{
    width: auto;
  }
  #home >nav .menu-socials{
    display: none !important;
  }
}
@media (max-width: 991px) {
  .nav-wrap{
    width: 100%;
  }
  .mobile-menu{
    display: block;
  }
  .block.navbar-collapse.collapse {
    display: block !important;
    animation: slide .3s linear;
  }
  .sticky .nav_text{
    margin-bottom: 0;
  }
}
@media (max-width: 414px) {
  .logo-wrap.shrink > a{
    height: 40px;
  }
  .mobile-menu{
    padding: 7px 15px 0;
    width: 30px;
    height: 40-7px;
    box-sizing: content-box;
    transition: .3s linear;
    span{
      display: block;
      margin: 5px 0;
      height: 2px;
      background: #fff;
      border-radius: 2px;
    }
  }
  .top-margin{
    margin-top: 40px;
  }
}


//视频--section1
#video{
  width: 100%;
  min-height: 100%;
  background: #000;
  //object-fit: cover;
}
#mobile-btn{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
  z-index: 999;
  .btn.btn-transparent{
    margin: 0;
    padding: 5px 0;
    width: 15%;
    min-width: 90px;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    text-align: center;
  }
}


//积目青年交流平台--section2
.gmu-text {
  font-size: 64px;
  @media (max-width: 1024px){
    font-size: 60px;
  }
  @media (max-width: 768px){
    font-size: 50px;
  }
  @media (max-width: 414px){
    font-size: 23px;
  }
  @media (max-width: 375px){
    font-size: 22px;
  }
  @media (max-width: 320px){
    font-size: 20px;
  }
}
.hero-subtitle{
  padding: 0 2%;
  @media (max-width: 768px){
    font-size: 14px;
  }
  @media (max-width: 414px){
    width: 80%;
  }
  @media (max-width: 375px){
    width: 85%;
  }
  @media (max-width: 320px){
    width: 100%;
  }
}
@media screen and (max-width: 1400px){
  .gmu-title {
    color: #fff;
    font-size: 6.2rem;
    letter-spacing: 8px;
    margin-top: 5rem;
    margin-bottom: -2.9rem;
  }
}
@media (max-width: 414px) {
  .gmu-title{
    margin-top: 0;
  }
}


//目的图标--section3
.slideOne_width_left{
  position: static;
  width: 62%;
}
.slideOne_width_right{
  width: 38%;
  >div, .title-instructor{
    display: none;
  }
}
.pf-md{
  margin-left: 0;
}

@media (max-width: 768px) {
  .slideOne_width_left{
    .title-instructor{
      margin-top: 30px;
      margin-bottom: 30px;
      line-height: 25px;
      font-size: 14px;
      font-family: 'pfMd';
      letter-spacing: 2px;
    }
    >div .pf-md-h{
      font-size: 40px;
      .pf-md{
        font-size: 41px;
      }
    }
    .slideOne_left_line{
      display: none;
      min-height: 3rem;
    }
  }
  .slideOne_width_right{
    img{
      width: 14.7rem;
    }
  }
  .fp-controlArrow.fp-next {
    right: 2rem;
  }
  .fp-controlArrow.fp-prev{
    left: 2rem;
  }
}
@media (max-width: 767px) {
  .slideOne_width_left{
    display: none;
  }
  .slideOne_width_right{
    >div, .title-instructor{
      display: block;
    }
    min-width: 100%;
    text-align: center;
    .title-instructor{
      text-align: left;
    }
  }
}
@media (max-width: 414px) {
  .slideOne_width{
    width: 90%;
  }
  .slideOne_width_right{
    img{
      width: 15rem;
    }
    >div .pf-md-h{
      font-size: 30px;
      .pf-md{
        font-size: 31px;
      }
    }
    .title-instructor {
      margin-top: 30px;
      margin-bottom: -45px;
      height: 144px;
      text-align: left;
      font-family: 'pfMd';
      font-size: 13px;
      letter-spacing: 1px;
      line-height: 16px;
    }
  }
  .fp-controlArrow.fp-next {
    right: 1rem;
    width: 4rem;
    height: 6.5rem;
  }
  .fp-controlArrow.fp-prev{
    left: 1rem;
    width: 4rem;
    height: 6.5rem;
  }
}
@media (max-width: 375px) {
  .slideOne_width_right{
    img{
      width: 13rem;
    }
    .title-instructor{
      height: 144px;
      font-size: 12px;
    }
  }
}
@media (max-width: 320px) {
  .slideOne_width_right{
    img{
      width: 8rem;
    }
  }
}


//积目girl
@media (min-width: 1366px) {
  #about-us{
    .team-row{
      padding: 0 5%;
      text-align: center;
    }
    .team-wrap{
      display: inline-block;
      vertical-align: middle;
      text-align: left;
    }
    .team-wrap:first-child{
      width: 20%;
    }
    .team-wrap:nth-child(2){
      width: 70%;
    }
  }
}
@media (max-width: 1366px) {
  #about-us{
    .container {
      width: auto;
    }
    .header, .header-pic{
      height: 240px;
    }
    .team-row{
      padding: 0 5%;
      text-align: center;
    }
    .team-wrap{
      display: inline-block;
      vertical-align: middle;
      text-align: left;
    }
    .team-wrap:first-child{
      width: 20%;
    }
    .team-wrap:nth-child(2){
      width: 70%;
    }
    .img-text-model{
      margin: 10px auto 0;
    }
    .title-name{
      font-size: 25px;
      margin: 0;
    }
    .title-gender{
      font-size: 20px;
      margin: 0;
    }
    .title-age{
      font-size: 16px;
      margin: 0;
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 1024px) {
  #about-us{

    .header, .header-pic{
      height: 240px;
    }

    .team-wrap:first-child{
      width: 30%;
    }
    .team-wrap:nth-child(2){
      width: 65%;
    }
  }

}
@media (max-width: 768px){
  #about-us{
    .header, .header-pic{
      height: 215px;
    }
  }
}
@media (max-width: 414px) {
  #touch-change .team-member{
    z-index: 999;
  }
  #thinkWord{
   margin-bottom: 10px;
  }
  #about-us{
    .header, .header-pic{
      height: 240px;
    }
    .team-wrap{
      margin: 0 auto;
      .team-title{
        margin-top: 20px;
        margin-bottom: -5px;
      }
      .team-member.mobilenone{
        display: none;
      }
      .topUser-slide{
        margin-left: 0;
      }
      .topUser-title{
        margin-top: 0;
      }
      .topUser-title li strong, .topUser-title li span{
        font-size: 25px;
      }
      .subheading{
        margin-top: 1em;
        font-size: 14px;
        line-height: 1.5em;
      }
    }
    .team-wrap:first-child{
      width: 65%;
    }
    .team-wrap:nth-child(2){
      width: 90% !important;
    }
  }
}
@media (max-width: 375px) {
  #about-us{
    .header, .header-pic{
      height: 220px;
    }
    .team-wrap:first-child{
      width: 60%;
    }
  }
}
@media (max-width: 320px) {
  #about-us{
    .header, .header-pic{
      height: 180px;
    }
    .team-wrap{
      .team-title{
        margin-top: 10px;
      }
      .topUser-title li strong, .topUser-title li span{
        font-size: 16px;
      }
      .topUser-title h2{
        margin: 0 0 5px;
      }
      .subheading{
        margin-top: 0;
        font-size: 13px;
        line-height: 1.5em;
      }
    }
    .title-name{
      font-size: 20px;
      margin: 0;
    }
    .title-gender{
      font-size: 14px;
      margin: 0;
    }
    .title-age{
      font-size: 12px;
      margin: 0;
      margin-bottom: 6px;
    }
  }
}



//精彩活动
.htmleaf-header{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.prev-button, .next-button{
  z-index: 9999;
}
@media (max-width: 414px) {
  .prev-button, .next-button{
    display: none;
  }
}
#swiper-stars{
  margin: 0 auto;
  padding: 40px 0;
  width: 60%;
}


//合作企业
#hzqy-pc{
  margin: 0 auto;
  width: 80%;
  text-align: center;
  img{
    width: 90/6%;
  }
}
#hzqy{
  display: none;
}

@media (max-width: 1270px) {
  #hzqylogo{
    width: auto;
  }
}
@media (max-width: 768px) {

}
@media (max-width: 414px) {
  #swiper-stars{
    width: 90%;
  }
  .htmleaf-header{
    margin-top: 0;
  }
  .imageflow{
    top: 0;
  }
  .prev-button{
    left: 1em;
  }
  .next-button{
    right: 1em;
  }

  #hzqy-pc{
    display: none;
  }

  #hzqylogo{
    margin-top: 40px;
  }

  #hzqy{
    display: block;
    .swiper-slide{
      >div{
        img{
          width: 41%;
          margin-bottom: 10px;
        }
      }
    }
  }
}
@media (max-width: 375px) {

}
@media (max-width: 320px) {
  #hzqy{
    .swiper-slide{
      >div{
        img{
          margin-bottom: 0;
        }
      }
    }
  }
}



//联系我们
.heading .lx-wrap{
  margin: 0 auto;
  width: 50%;
}
.lxwm-row{
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.lxwm-left{
  width: 35%;
}
.lxwm-right{
  width: 62%;
}
@media (max-width: 1270px) {
  #lxwm{
    width: auto;
  }
}
@media (max-width: 768px) {
  .subheading{
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
  #lxwm input{
    margin-bottom: 10px;
  }
  textarea#comment{
    margin-bottom: 15px;
    height: 120px;
  }
  .contact-item:first-of-type{
    margin-top: 15px;
  }
  .contact-item{
    margin-top: 12px;
  }
}
@media (max-width: 414px) {

  //标题
  .heading{
    //display: none;
    h2{
      font-size: 20px;
    }
    p{
      margin-bottom: 1rem;
      font-size: 14px;
    }
  }
  .heading .lx-wrap{
    width: 100%;
  }

//左右板块
  .lxwm-row{
    flex-wrap: wrap-reverse;
  }
  .lxwm-left{
    width: 100%;
  }
  .lxwm-right{
    width: 100%;
  }
  #lxwm input{
    height: 40px;
    margin-bottom: 5px;
  }
  //输入框
  textarea#comment{
    margin-bottom: 15px;
    height: 90px;
  }

  //地址
  .contact-item:first-of-type{
    margin-top: 0;
  }
  .contact-item{
    margin-top: 3px;
    padding-left: 40px;
  }
  .contact-icon{
    width: 30px;
    height: 30px;
  }
  .contact-icon i{
    line-height: 30px;
    font-size: 1.5rem;
  }

  .mobilebr{
    display: none;
  }
}
@media (max-width: 375px) {
  //地址
  .contact-item:first-of-type{
    margin-top: 0;
  }
  .contact-item{
    margin-top: 0;
    padding-left: 0;
  }
  .contact-icon{
    display: none;
  }
  .contact-item p{
    margin-bottom: 0;
    line-height: 20px;
  }

  .contact-item p, .contact-item span, .contact-item a{
    font-size: 14px;
  }
  .contact-item h6{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 2px;
  }

  .lxwm-left >h5{
    margin: 10px 0 0;
  }
  .lxwm-left >p{
    margin-bottom: 0;
  }
}
@media (max-width: 320px) {
  .heading .subheading{
    display: none;
  }
}
